.container {
    width: 50rem;
    box-shadow: 0 0 10px black;
    margin: auto;
    margin-top: 3rem;
}

.main-img {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    img {
        width: 50%;
    }
}
