.container {
    width: 80vw;
    margin: auto;
}

.wrapper {
    margin-top: 1rem;
}

.price {
    text-align: center;
    font-size: 20px;
    color: #e74c3c !important;
}

.rate {
    display: flex;
    flex-direction: column;
    text-align: center;
    h1 {
        font-size: 46px;
        font-weight: bold;
    }
}
