.card-course {
    height: 100%;

    h2 {
        margin-bottom: 0;
        font-weight: bold;
    }

    :global(.ant-ribbon-wrapper) {
        height: 100%;
    }

    :global(.ant-card) {
        padding: 16px 16px 0;
    }

    :global(.ant-card-body) {
        padding: 0;
        padding-bottom: 24px;
    }

    :global(.ant-card-cover) {
        padding: 0;
        display: flex;
        min-height: 210px;
        margin-bottom: 0.5rem;

        & > div {
            margin: auto;

            & > img {
                max-height: 210px;
                width: 100%;
                object-fit: contain;
            }
        }
    }
}

.content {
    h2 {
        color: #e74c3c;
    }
}

.del-btns {
    margin-top: 1rem;
    width: 100%;
    justify-content: center;
}
