@import "assets/styles/variables";

.container {
    &:global(.ant-layout-header) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: white;
        padding: 0 20px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        z-index: 1;
        transition: all 0.3ms ease-in;
    }
}

.brand {
    display: flex;
    align-items: center;
    width: 200px;
    height: 100%;

    h2 {
        font-weight: bold;
        margin-bottom: 0;
        color: $primary60;
    }
}

.user {
    padding-right: 20px;
    margin-left: 1rem;
}

.logout {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    // width: -webkit-fill-available;
}
