.container {
    width: 460px;
    margin: auto;
    margin-top: 50px;
    text-align: center;

    :global(.ant-form-item-label) {
        font-weight: bold;
    }

    :global(.ant-form-item-explain-error) {
        text-align: left;
    }

    &_login {
        width: 250px;
    }
}

.title {
    color: #52c41a;
    font-weight: bold;
    margin-bottom: 80px;
}

.bottom-form {
    margin-top: 20px;
}

.link-route {
    margin-left: 10px;
    font-style: italic;
    text-decoration: underline !important;
}
