@import "assets/styles/variables.scss";

.layout {
    min-height: 100% !important;
}

.content {
    height: 100% !important;
    top: 0;
    position: relative;
    z-index: 0;
    padding: 32px;
}
