.title {
    color: #f7941e;
    font-size: 20px;
}
.content {
    word-break: break-all;
    margin: 1rem 0;
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
