$priamy10: #e6f7ff;
$primary20: #fcffe6;
$primary30: #f4ffb8;
$primary40: #eaff8f;
$primary50: #d3f261;
$primary60: #52c41a;
$primary70: #a0d911;

$grey20: #fafafa;
$grey30: #f5f5f5;
$grey40: #f0f0f0;
